USE [master]
GO
/****** Object:  Database [projektSamochody]    Script Date: 05/28/2018 10:17:37 ******/
CREATE DATABASE [projektSamochody] ON  PRIMARY 
( NAME = N'projektSamochody', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\projektSamochody.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'projektSamochody_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\projektSamochody_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [projektSamochody].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [projektSamochody]
GO
/****** Object:  Table [dbo].[samochody]    Script Date: 05/28/2018 10:17:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[samochody](
	[samochody_id] [bigint] IDENTITY(1,1) NOT NULL,
	[samochody_marka] [varchar](max) NULL,
	[samochody_model] [varchar](max) NULL,
	[samochody_predkosc] [int] NULL,
	[samochody_rocznik] [int] NULL,
	[samochody_iloscPaliwa] [float] NULL,
	[samochody_pojemnoscBaku] [float] NULL,
	[samochody_srednieSpalanie] [float] NULL,
	[samochody_predkoscMaksymalna] [int] NULL,
	[samochody_silnikWlaczony] [bit] NULL,
 CONSTRAINT [PK_samochody] PRIMARY KEY CLUSTERED 
(
	[samochody_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_samochody_samochody_silnikWlaczony]    Script Date: 05/28/2018 10:17:38 ******/
ALTER TABLE [dbo].[samochody] ADD  CONSTRAINT [DF_samochody_samochody_silnikWlaczony]  DEFAULT ((0)) FOR [samochody_silnikWlaczony]
GO
